body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    background-color: rgb(41, 41, 41);
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#screen {
    background-image: url("../images/flappybirdbg.png");
}